# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Swap files
*.swp

# Powerpipe variable files
*.ppvars
*.auto.ppvars

# Steampipe variable files
*.spvars
*.auto.spvars

# Steampipe mod dependencies
.steampipe

# Cache json files
*.cache.json

# Ignore Desktop Services Store files
.DS_Store
